@import '../../styles/color'

.Accordion
  &-container
    max-width 497px
    width 100%
    z-index 1
    color charcoal

  &-item
    position relative
    background white
    margin -1px
    &-description
      border 1px solid steel
      min-height 4rem
      padding 8px
      box-sizing border-box
      overflow hidden
      line-height 1.2
      transition padding .3s ease
      &-open
        padding-top 5rem
        max-height 100%

  &-item-tab
    align-items center
    background white
    border 1px solid steel
    box-sizing border-box
    display flex
    min-height 4rem
    position absolute
    left 0
    top 0
    width 100%
    z-index 10
    &-label
      position relative
      display flex
      flex-direction column
      margin-left 1rem
      padding 8px 0
      &-title
        color charcoal
        font-weight bold
        font-size 15px
        margin-bottom .25rem
        display flex
      &-sub
        opacity .7
        font-size 12px
      &-owner
        font-weight bold
      &:hover
        cursor pointer
    &-signifier
      background none
      position relative
      border none
      outline none
      height 8px
      width 11px
      &:after, &:before
        position absolute
        animation-duration 2.5s
        content ''
        display block
        height 2px
        width 6px
        background charcoal
        border-radius 2px
      &:after
        transform rotate(45deg)
        -ms-transform rotate(45deg)
        -webkit-transform rotate(45deg)
      &:before
        right 1px
        transform rotate(135deg)
        -ms-transform rotate(135deg)
        -webkit-transform rotate(135deg)

      &-open
        -ms-transform rotate(-180deg)
        -webkit-transform rotate(-180deg)
        transform rotate(-180deg)