lettuce = #64DD17
darkLettuce = #1B5E20
tangerine = #FF7D4F
ketchup = #E64A19
darkKetchup = #3E2723
electricity = #C0CA33
darkElectricity = #4E342E
charcoal = #4e575b
steel = #EEE
mist = #673AB7
mistActive = #5E35B1
glass = #f7fbfc
glassActive = #F1F8F9