@import '../color.styl'

.Pie-chart
  fill lettuce
  stroke white
  stroke-width 68
  opacity .7

  &-container
    margin auto
    transform rotate(-90deg)
    border-radius 50%
    border 1px solid steel

  &-psuedo-container
    position relative
    display flex
    align-items center
    margin-bottom 22px
    &:before
      content attr(data-pie)
      opacity .7
      position absolute
      z-index 1
      top 52%
      left 28%
      transform translateY(-50%)
    &-green
      .Pie-chart
        fill lettuce
      &:before
        color darkLettuce
    &-red
      .Pie-chart
        fill ketchup
      &:before
        color darkKetchup
    &-yellow
      .Pie-chart
        fill electricity
      &:before
        color darkElectricity

  &-label
    opacity .7
    max-width 44px
    width 100%