@import '../color.styl'

.Pie-chart
  fill lettuce
  stroke white
  stroke-width 68
  opacity .7

  &-container
    margin auto
    transform rotate(-90deg)
    border-radius 50%
    border 1px solid steel